* {
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    font-size: 16px;
    font-family: "Google Sans Code", monospace;
    font-style: italic;
}



body {
    align-items: center;
    background: linear-gradient(180deg, #000000, #888787)
}

header {
    align-items: center;
}

header img {
    width: 30px;
}

nav ul {
    background-color: violet;
    display: flex;
    flex-direction: column;
    width: min-content;
    height: 30px;
    overflow: hidden;
    position: fixed;
}

nav ul:hover {
    overflow: visible;
    height: max-content;
}

h1 {
    font-size: 20px;
    margin: 8px;
    text-align: end;
    color: #fff;
}

.pregunta {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: 50px repeat(3, 200px) 40px;
    grid-template-areas:
        "q q q q q"
        ". . . . ."
        ". . img . ."
        ". . . . ."
        ". cn cn cn .";
    margin: 20px;
}

.queres {
    grid-area: q;
    text-align: center;
    font-size: 20px;
    padding: 3px;
    border: solid 2px white;
    border-radius: 6VH;
    align-content: center;
}

.contactanos {
    grid-area: cn;
    font-size: 18px;
    text-align: center;
    padding: 3px;
    border: solid 2px white;
    border-radius: 6VH;
    align-content: center;

}

.img {
    grid-area: img;
    text-align: center;
}

.img img {
    width: 200px;
}












footer {
    background-color: #002e41;
    border-top-left-radius: 3vh;
    border-top-right-radius: 3vh;
}

.pata {

    text-align: center;
    padding: 6px;
    font-size: 14px;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    border-top: solid 1px;
    background-color: #000020;


}

#gi {

    display: flex;
    flex-direction: row;

    margin: 14px;
    justify-content: center;

    align-items: flex-end;
    margin-top: 44%;
    gap: 40px;


}

#gi img {
    width: 40px;
    background-color: #ffffffab;
    border-radius: 8vh;
}

#gi p {
    font-size: 16px;
}

.ig {

    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
    background-color: #000020ba;
    border-radius: 4vh;

}


.wsp {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
    background-color: #000020ba;
    border-radius: 4vh;
}



/*PAGINAS=================================================================================*/
.grid {
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: 50px 260px 260px 260px 50px 260px 260px 260px 50px 260px 260px 260px;
    grid-template-areas:
        "titulo0"
        "foto1"
        "foto2"
        "foto3"
        "titulo"
        "foto4"
        "foto5"
        "foto6"
        "titulo2"
        "foto7"
        "foto8"
        "foto9";
    margin: 2px;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 20px;
}

.grid img {
    width: 350px;
    border-radius: 20vh;
    box-shadow: 1px 20px 30px #2d2d2e;


}

.grid p {
    margin: 10px;
}

.titulo0 {
    grid-area: titulo0;
    background-color: #000020;
    border-radius: 4vh;
    box-shadow: 10px 10px 16px #02023d;

}

.titulo {
    grid-area: titulo;
    background-color: #000020;
    border-radius: 4vh;
    box-shadow: 10px 10px 16px #02023d;

}

.titulo2 {
    grid-area: titulo2;
    background-color: #000020;
    border-radius: 4vh;
    box-shadow: 10px 10px 16px #02023d;

}

.pag1 {
    grid-area: foto1;
    border-radius: 4vh;
    text-align: center;
    padding: 8px;
    transition: 1s;
}


.pag2 {
    grid-area: foto2;
    border-radius: 4vh;
    text-align: center;
    padding: 8px;
    transition: 1s;
}



.pag3 {
    grid-area: foto3;
    border-radius: 4vh;
    text-align: center;
    padding: 8px;
    transition: 1s;
}

.pag4 {
    grid-area: foto4;
    border-radius: 4vh;
    text-align: center;
    padding: 8px;
    transition: 1s;
}

.pag5 {
    grid-area: foto5;
    border-radius: 4vh;
    text-align: center;
    padding: 8px;
    transition: 1s;
}

.pag6 {
    grid-area: foto6;
    border-radius: 4vh;
    text-align: center;
    padding: 8px;
    transition: 1s;
}

.pag7 {
    grid-area: foto7;
    border-radius: 4vh;
    text-align: center;
    padding: 8px;
    transition: 1s;
}

.pag8 {
    grid-area: foto8;
    border-radius: 4vh;
    text-align: center;
    padding: 8px;
    transition: 1s;
}

.pag9 {
    grid-area: foto9;
    border-radius: 4vh;
    text-align: center;
    padding: 8px;
    transition: 0.8s;
}

.pag1:hover {
    transform: scale(1.04);
}

.pag2:hover {
    transform: scale(1.04);
}

.pag3:hover {
    transform: scale(1.04);
}

.pag4:hover {
    transform: scale(1.04);
}

.pag5:hover {
    transform: scale(1.04);
}

.pag6:hover {
    transform: scale(1.04);
}

.pag7:hover {
    transform: scale(1.04);
}

.pag8:hover {
    transform: scale(1.04);
}

.pag9:hover {
    transform: scale(1.04);
}

@media (min-width: 600px) {
    .grid {
        grid-template-areas:
            "titulo0 titulo0 titulo0"
            "foto1 foto2 foto3"
            "titulo titulo titulo"
            "foto4 foto5 foto6"
            "titulo2 titulo2 titulo2"
            "foto7 foto8 foto9";
        grid-template-columns: 3fr 3fr 3fr;
        grid-template-rows: 50px 260px 50px 260px 50px 260px;
        margin: 20px;

    }

    .grid img {
        width: 300px;
    }
}

@media (min-width: 1100px) {
    .grid {
        grid-template-areas:
            "titulo0 titulo0 titulo0"
            "foto1 foto2 foto3"
            "titulo titulo titulo"
            "foto4 foto5 foto6"
            "titulo2 titulo2 titulo2"
            "foto7 foto8 foto9";
        grid-template-columns: 3fr 3fr 3fr;
        grid-template-rows: 50px 260px 50px 260px 50px 260px;
        margin: 20px;

    }

    .grid img {
        width: 400px;
        border: Solid #000000 3px;
    }
}

/*CONTRATO===========================================================================================================*/
.contrato {
    background-color: #000020;
    margin: 10px;
    margin-top: 20px;
    padding: 40px;
    border-radius: 8vh;
}

.contrato div {
    text-align: center;
}

.contrato p {
    font-size: 16px;
}

@media(min-width:600px) {
    .contrato p {
        font-size: 30px;
    }
}