* {
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    font-size: 16px;
    font-family: "Google Sans Code", monospace;
    font-style: italic;
}

nav a {
    text-decoration: none;
}

body {
    align-items: center;
    background: linear-gradient(0deg, #b87400, #000020)
}

h1 {
    font-size: 20px;
    margin: 8px;
    text-align: end;
    text-shadow: 12px 6px 10px #001626;
    color: #ffffff;
}



header {
    background-color: #b87400;
    text-align: center;
    border-radius: 20vh;
    box-shadow: 10px 10px 16px #000000;
    height: 80px;
    margin: 20px;
    align-content: center;

}

header img {
    width: 30px;

}

nav {
    position: fixed;
    z-index: 9999;
    margin-left: 10px;
    width: 30px;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(3, 0px);
    grid-template-rows: min-content;
    list-style: none;
    gap: 6px;
    border-radius: 10vh;
    transition: 1.3s;
    padding: 8px;
}

nav ul:hover {
    grid-template-columns: repeat(3, 40px);
    width: min-content;
}

nav li {
    align-content: center;
    transition: 0.3s;
}

nav li:not(#inicio) {
    overflow: hidden;
}


nav li:hover {
    transform: scale(1.03);
}



.nx {


    background-image: url(media/Imagotipo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    margin-top: 60px;
    margin-bottom: 100px;
}

.pregunta {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: auto;
    grid-template-areas:
        "q q q q q"
        "img img img img img"
        "img img img img img"
        "img img img img img"
        ". . . cn cn";
    margin: 20px;
}

.queres {
    grid-area: q;
    text-align: center;
    font-size: 20px;
    padding: 3px;
    border: solid 2px white;
    border-radius: 6VH;
    background-color: #ffffff33;
}

.contactanos {
    grid-area: cn;
    font-size: 18px;
    text-align: center;
    padding: 3px;
    border: solid 2px white;
    border-radius: 6VH;
    background-color: #ffffff33;
}

.img {
    grid-area: img;
    text-align: center;
}

.img img {
    width: 200px;
}




.caja_index {

    margin: 12px;
    border-radius: 16px;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}




.index_01 {
    background-color: #b87400;
    box-shadow: 1px 1px 20px #6d4501;
    border-radius: 2vh;
    padding: 20px;
    margin: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: 0.2s;
    margin: 8px;
}

.index_01 p {
    padding: 10px;
}

.index_01:hover {

    transform: scale(1.01);
}



.index_01 img {
    width: 100px;
    height: auto;
    border-radius: 2vh;
    border: solid #001626 3px;
}


.index_02 {
    display: flex;
    flex-direction: column;
    background-color: #b87400;
    border-radius: 2vh;
    padding: 20px;
    gap: 8px;
    box-shadow: 1px 1px 20px #6d4501;
    align-items: center;
    text-align: center;
    transition: 0.2s;
    margin: 8px;
    margin-top: 20px;
}


.index_02 img {
    border-radius: 2vh;
    width: 100px;
    height: auto;
    border: solid #001626 3px;

}

.index_02:hover {

    transform: scale(1.01);
}

.index_2 {
    background-color: #001626;
    margin: 20px;
    border-radius: 2vh;
    text-align: center;
    box-shadow: 0px 0px 40px #6d4501;

}

.index_2 p {
    padding: 18px;
    font-size: 18px;
    letter-spacing: 1px;

}







footer {
    background-color: #002e41;
    border-top-left-radius: 3vh;
    border-top-right-radius: 3vh;
    margin-top: 40px;
    display: flex;

    flex-direction: column;
    background-image: url(media/foot.png);
    background-repeat: no-repeat;
    border: #000020 solid 2px;
    height: 300px;
    background-size: cover;

}

.pata {

    text-align: center;
    padding: 6px;
    font-size: 14px;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    border-top: solid 1px;
    background-color: #000020;


}

#gi {

    display: flex;
    flex-direction: row;

    margin: 14px;
    justify-content: center;

    align-items: flex-end;
    margin-top: 44%;
    gap: 40px;


}

#gi img {
    width: 40px;
    background-color: #ffffffab;
    border-radius: 8vh;
}

#gi p {
    font-size: 16px;
}

.ig1 {

    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
    background-color: #000020ba;
    border-radius: 4vh;

}

.ig2 {

    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
    background-color: #000020ba;
    border-radius: 4vh;


}


.wsp {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
    background-color: #000020ba;
    border-radius: 4vh;
}


@media(min-width:600px) {
    header {
        height: 140px;
        transition: 1.9s;
    }

    header img {
        width: 80px;
    }

    nav {
        width: 82px;


    }

    nav:hover {
        width: max-content;
    }

    nav ul {
        gap: 40px;
        padding: 10px;
    }

    nav ul:hover {
        grid-template-columns: repeat(3, 80px);
    }

    nav img {
        width: 60px;
    }

    h1 {
        font-size: 46px;
        margin-right: 20px;
    }

    .pregunta {
        grid-template-rows: max-content;
    }

    .img img {
        width: 300px;
    }

    .index_2 {
        font-size: 26px;
        margin-top: 10px;
        padding: 20px;

    }

    .index_01 {
        flex-direction: row;
        text-align: start;
        font-size: 26px;

    }

    .index_02 {
        flex-direction: row;
        text-align: start;
        font-size: 26px;
        margin-top: 30px;

    }

    footer {
        height: 500px;
    }

    .pata {
        font-size: 28px;
    }

    #gi {
        flex-direction: column;
        margin-top: 100px;
        margin-bottom: 80px;
    }

    #gi p {
        font-size: 30px;
    }

    .ig1 {
        margin-right: 30px;
        width: 140px;

    }

    .ig2 {
        margin-right: 30px;
        width: 140px;
    }

    .wsp {
        margin-right: 30px;
        width: 140px;
    }

}

@media(min-width:1100px) {
    header {
        height: 160px;
    }

    nav ul {
        gap: 18%;
        margin-left: 20px;
    }

    nav a img {
        width: 70px;
    }

    h1 {
        margin-right: 28px;
        font-size: 60px;
    }

    .caja_index {
        flex-wrap: nowrap;
    }

    .index_1 {
        width: 70%;
    }

    .index_1 img {
        width: 200px;
        height: auto;
    }

    .index_01 {
        flex-direction: row;
        text-align: start;
    }

    .index_02 {
        flex-direction: row;
        text-align: start;
    }

    .index_2 {
        width: 30%;
        margin-top: 0px;
        font-size: 22px;
        padding: 6px;
    }

    #gi {
        height: 400px
    }

}

/*PAGINAS=================================================================================*/
.grid {
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: 50px 260px 260px 260px 50px 260px 260px 260px 50px 260px 260px 260px;
    grid-template-areas:
        "titulo0"
        "foto1"
        "foto2"
        "foto3"
        "titulo"
        "foto4"
        "foto5"
        "foto6"
        "titulo2"
        "foto7"
        "foto8"
        "foto9";
    margin: 2px;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 20px;
}

.grid img {
    width: 350px;
    border-radius: 20vh;
    box-shadow: 1px 20px 30px #2d2d2e;


}

.grid p {
    margin: 10px;
}

.titulo0 {
    grid-area: titulo0;
    background-color: #000020;
    border-radius: 4vh;
    box-shadow: 10px 10px 16px #02023d;

}

.titulo {
    grid-area: titulo;
    background-color: #000020;
    border-radius: 4vh;
    box-shadow: 10px 10px 16px #02023d;

}

.titulo2 {
    grid-area: titulo2;
    background-color: #000020;
    border-radius: 4vh;
    box-shadow: 10px 10px 16px #02023d;

}

.pag1 {
    grid-area: foto1;
    border-radius: 4vh;
    text-align: center;
    padding: 8px;
    transition: 1s;
}


.pag2 {
    grid-area: foto2;
    border-radius: 4vh;
    text-align: center;
    padding: 8px;
    transition: 1s;
}



.pag3 {
    grid-area: foto3;
    border-radius: 4vh;
    text-align: center;
    padding: 8px;
    transition: 1s;
}

.pag4 {
    grid-area: foto4;
    border-radius: 4vh;
    text-align: center;
    padding: 8px;
    transition: 1s;
}

.pag5 {
    grid-area: foto5;
    border-radius: 4vh;
    text-align: center;
    padding: 8px;
    transition: 1s;
}

.pag6 {
    grid-area: foto6;
    border-radius: 4vh;
    text-align: center;
    padding: 8px;
    transition: 1s;
}

.pag7 {
    grid-area: foto7;
    border-radius: 4vh;
    text-align: center;
    padding: 8px;
    transition: 1s;
}

.pag8 {
    grid-area: foto8;
    border-radius: 4vh;
    text-align: center;
    padding: 8px;
    transition: 1s;
}

.pag9 {
    grid-area: foto9;
    border-radius: 4vh;
    text-align: center;
    padding: 8px;
    transition: 0.8s;
}

.pag1:hover {
    transform: scale(1.04);
}

.pag2:hover {
    transform: scale(1.04);
}

.pag3:hover {
    transform: scale(1.04);
}

.pag4:hover {
    transform: scale(1.04);
}

.pag5:hover {
    transform: scale(1.04);
}

.pag6:hover {
    transform: scale(1.04);
}

.pag7:hover {
    transform: scale(1.04);
}

.pag8:hover {
    transform: scale(1.04);
}

.pag9:hover {
    transform: scale(1.04);
}

@media (min-width: 600px) {
    .grid {
        grid-template-areas:
            "titulo0 titulo0 titulo0"
            "foto1 foto2 foto3"
            "titulo titulo titulo"
            "foto4 foto5 foto6"
            "titulo2 titulo2 titulo2"
            "foto7 foto8 foto9";
        grid-template-columns: 3fr 3fr 3fr;
        grid-template-rows: 50px 260px 50px 260px 50px 260px;
        margin: 20px;

    }

    .grid img {
        width: 300px;
    }
}

@media (min-width: 1100px) {
    .grid {
        grid-template-areas:
            "titulo0 titulo0 titulo0"
            "foto1 foto2 foto3"
            "titulo titulo titulo"
            "foto4 foto5 foto6"
            "titulo2 titulo2 titulo2"
            "foto7 foto8 foto9";
        grid-template-columns: 3fr 3fr 3fr;
        grid-template-rows: 50px 260px 50px 260px 50px 260px;
        margin: 20px;

    }

    .grid img {
        width: 400px;
        border: Solid #000000 3px;
    }
}

/*CONTRATO===========================================================================================================*/
.contrato {
    background-color: #000020;
    margin: 10px;
    margin-top: 20px;
    padding: 40px;
    border-radius: 8vh;
}

.contrato div {
    text-align: center;
}

.contrato p {
    font-size: 16px;
}

@media(min-width:600px) {
    .contrato p {
        font-size: 30px;
    }
}