* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Google Sans Code", monospace;
}

body {
    background-color: #000000;
    background: url(media/fondo.png) #000000;
    background-repeat: no-repeat;
    background-size: 1330px;
    background-position-y: -50px;
}

#body__cont {
    background: none;
    background-color: black;
}

.pepe {
    color: #7700b7;

}

nav {
    display: flex;
    gap: 20px;
}

nav ul {
    display: flex;
    background-color: #fff;
    gap: 100px;
    padding: 14px;
    margin: 20px 0px;
    border-radius: 0px 10px 10px 0px;
    width: 90px;
    height: 80px;
    overflow: hidden;
    transition: 1s;
    transition-delay: 0.1s;
    align-items: center;
}

nav ul:hover {
    width: 620px;
}


nav li {
    display: flex;
    gap: 20px;
    align-items: center;
    transition: .2s;
    padding: 2px 10px;
}

.li__index {
    border: solid 2px #7700b7;
    box-shadow: 0px 0px 10px #000000;
    border-radius: 2vh;
}

.li__cont {
    border: solid 2px #7700b7;
    box-shadow: 0px 0px 10px #000000;
    border-radius: 2vh;
}

nav a {
    display: flex;
    gap: 20px;
    align-items: center;
    transition: .2s;
    padding: 2px 10px;
}

nav a:hover {
    border: solid 2px #7700b7;
    box-shadow: 0px 0px 10px #000000;
    border-radius: 2vh;
}

nav img {
    width: 40px;
}

header {
    display: flex;
    align-items: center;
    gap: 40px;
}

header h1 {
    font-size: 48px;
    color: white;
    text-shadow: 0px 0px 20px #7700b7;
    font-family: Arial, Helvetica, sans-serif;
}

.index__preguntas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 100px);
    grid-template-areas:
        "a a a . ."
        ". . . . ."
        ". . . . ."
        ". . . b b"
        ". . . . .";
    overflow: hidden;
}

.index__preguntas p {
    font-size: 40px;
    border-radius: 2vh;

    border: solid 4px #fff;
    padding: 10px;
    color: #fff;
    text-shadow: 0px 0px 10px #fff;
    box-shadow: 0px 0px 10px #fff;
    margin: 20px;
}

.index__titulo {
    grid-area: a;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #00000091;
    border-radius: 0vh 100px 100px 0vh;
}

@keyframes boton {
    0% {
        box-shadow: 0px 0px 20px #fff;
        transform: scale(1.06);
    }

    25% {
        box-shadow: 0px 0px 30px #7700b7;
        transform: scale(1.0);
    }

    50% {
        box-shadow: 0px 0px 20px #ffffff;
        transform: scale(1.07);
    }

    75% {
        box-shadow: 0px 0px 30px #7700b7;
        transform: scale(1.0);
    }

    100% {
        box-shadow: 0px 0px 20px #fff;
        transform: scale(1.07);
    }
}

@keyframes traslate {
    0% {
        transform: translateX(10px);
    }

    50% {
        transform: translateX(1000px);
    }

    100% {
        transform: translateX(10px);
    }
}

.index__titulo2 {
    grid-area: b;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000091;
    border-radius: 100vh 0px 0px 100vh;
    padding: 20px;

}

.index__titulo p {
    overflow: hidden;
    animation: traslate 2s;
    transition: 1s;
}

.index__titulo p:hover {
    background-color: #fff;
    color: #7700b7;
    cursor: default;
}

.index__titulo2 p {
    animation: boton infinite 3s;
}

/* =======================contrato=====================================================*/
.imagen {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen img {
    width: 800px;


}

.contrato {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
    background-color: #fff;
    padding: 30px;
    border-radius: 6vh;
    box-shadow: 0px 0px 100px #7700b7;
}

.contrato p {
    font-weight: 500;
    font-size: 26px;
    text-align: center;

}

@media(max-width:1100px) {
    body {
        background-size: contain;
        background-position: center;
    }

    header {
        overflow: hidden;
        gap: 10px;
        margin-bottom: 90px;
    }

    nav img {
        width: 30px;
    }

    nav ul {
        gap: 20px;
        padding: 7px;
        width: 70px;
        height: 60px;
    }

    nav ul:hover {
        width: 380px;
    }

    nav li {
        gap: 10px;
    }

    nav a {
        gap: 10px;
    }

    .index__preguntas {
        grid-template-areas:
            "a a a a a"
            ". . . . ."
            ". . . . ."
            ". . b b b"
            ". . . . .";
    }

    .index__preguntas p {
        font-size: 22px;
    }

    .imagen img {
        width: 200px;
    }

    .contrato {
        margin: 20px;
    }

    .contrato p {
        font-size: 18px;
    }
}