* {
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    font-size: 16px;
    font-family: "Google Sans Code", monospace;
    font-style: italic;
}

a {
    text-decoration: none;

}

body {
    align-items: center;
    background: linear-gradient(180deg, #000000, #888787);
    background-repeat: no-repeat;
}

header {
    transition: 1.2s;

    align-items: center;
}

header img {

    width: 30px;
}

nav ul {
    list-style: none;
    background-color: #444444ad;
    border: solid 1px #fff;
    border-radius: 4vh;
    padding: 6px;
    display: flex;
    flex-direction: column;
    width: min-content;
    height: 30px;
    width: 30px;
    overflow: hidden;
    position: fixed;
    margin: 10px;
    row-gap: 20px;
    transition: 1.2s;
}

nav ul:hover {
    height: 320px;
    width: 140px;
    transition: 1.2s;

}

nav a {
    display: flex;
    align-items: center;
    transition: 0.4s;
}

nav a:hover {
    transform: scale(1.04);
    background-color: black;
    border-radius: 2vh;
}

.h1 {
    margin-bottom: 30px;
}

h1 {
    font-size: 36px;
    margin: 8px;
    text-align: end;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-style: normal;
}

.pregunta {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: 50px repeat(3, 200px) 40px;
    grid-template-areas:
        "q q q q q"
        ". . . . ."
        ". . img . ."
        ". . . . ."
        ". cn cn cn .";
    margin: 20px;
}

.queres {
    grid-area: q;
    text-align: center;
    font-size: 20px;
    padding: 3px;
    border: solid 2px white;
    border-radius: 6VH;
    align-content: center;
}

@keyframes aparecer {
    0% {
        opacity: 0%;
        transform: translateY(800px);
    }

    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}

.contactanos {
    grid-area: cn;
    font-size: 18px;
    text-align: center;
    padding: 3px;
    border: solid 2px white;
    border-radius: 6VH;
    transition: 4s;
    align-content: center;
    animation: aparecer linear both;
    view-timeline-name: --mos;
    animation-timeline: --mos;
    animation-range: cover 0.1% contain 10%;
}


.img {
    grid-area: img;
    text-align: center;
    transition: 4s;
    align-content: center;
    animation: aparecer linear both;
    view-timeline-name: --mos;
    animation-timeline: --mos;
    animation-range: cover 0.1% contain 10%;
}

.img img {
    width: 200px;
}

footer {
    background-color: #000000;
    border-top-left-radius: 3vh;
    border-top-right-radius: 3vh;
    margin-top: 600px;
}

.pata {

    text-align: center;
    padding: 10px;
    font-size: 14px;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    color: #ffbb00;


}

@media(min-width:600px) {
    header img {
        width: 60px;
    }

    nav ul {
        width: 60px;
        margin: 18px;
        height: 60px;
    }

    nav ul:hover {
        height: 500px;
        width: 200px;
    }

    .h1 {
        margin-bottom: 0px;
    }

    .h1 h1 {
        margin: 40px;
        font-size: 60px;
    }


    .pregunta {
        grid-template-rows: 100px repeat(2, 150px) 300px 100px;
    }

    .queres {
        font-size: 30px;
    }

    .contactanos a {
        font-size: 30px;
    }

    .img img {
        width: 300px;
    }
}

/*PAGINAS=================================================================================*/
.grid {
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: 260px 260px 260px 260px 260px 260px 260px 260px 260px;
    grid-template-areas:
        "foto1"
        "foto2"
        "foto3"
        "foto4"
        "foto5"
        "foto6"
        "foto7"
        "foto8"
        "foto9";
    margin: 2px;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 20px;
}

.grid img {
    width: 350px;
    border-radius: 20vh;
    box-shadow: 1px 20px 30px #2d2d2e;


}

.grid p {
    margin: 10px;
}



.pag1 {
    grid-area: foto1;
    border-radius: 4vh;
    text-align: center;
    padding: 8px;
    transition: 1s;
}


.pag2 {
    grid-area: foto2;
    border-radius: 4vh;
    text-align: center;
    padding: 8px;
    transition: 1s;
}



.pag3 {
    grid-area: foto3;
    border-radius: 4vh;
    text-align: center;
    padding: 8px;
    transition: 1s;
}

.pag4 {
    grid-area: foto4;
    border-radius: 4vh;
    text-align: center;
    padding: 8px;
    transition: 1s;
}

.pag5 {
    grid-area: foto5;
    border-radius: 4vh;
    text-align: center;
    padding: 8px;
    transition: 1s;
}

.pag6 {
    grid-area: foto6;
    border-radius: 4vh;
    text-align: center;
    padding: 8px;
    transition: 1s;
}

.pag7 {
    grid-area: foto7;
    border-radius: 4vh;
    text-align: center;
    padding: 8px;
    transition: 1s;
}

.pag8 {
    grid-area: foto8;
    border-radius: 4vh;
    text-align: center;
    padding: 8px;
    transition: 1s;
}

.pag9 {
    grid-area: foto9;
    border-radius: 4vh;
    text-align: center;
    padding: 8px;
    transition: 0.8s;
}

.pag1:hover {
    transform: scale(1.04);
}

.pag2:hover {
    transform: scale(1.04);
}

.pag3:hover {
    transform: scale(1.04);
}

.pag4:hover {
    transform: scale(1.04);
}

.pag5:hover {
    transform: scale(1.04);
}

.pag6:hover {
    transform: scale(1.04);
}

.pag7:hover {
    transform: scale(1.04);
}

.pag8:hover {
    transform: scale(1.04);
}

.pag9:hover {
    transform: scale(1.04);
}

@media (min-width: 600px) {
    .grid {
        grid-template-areas:
            "foto1 foto2 foto3"
            "foto4 foto5 foto6"
            "foto7 foto8 foto9";
        grid-template-columns: 3fr 3fr 3fr;
        grid-template-rows: 260px 260px 260px;
        margin: 20px;

    }

    .grid img {
        width: 300px;
    }
}

@media (min-width: 1100px) {
    .grid {
        grid-template-areas:
            "titulo0 titulo0 titulo0"
            "foto1 foto2 foto3"
            "titulo titulo titulo"
            "foto4 foto5 foto6"
            "titulo2 titulo2 titulo2"
            "foto7 foto8 foto9";
        grid-template-columns: 3fr 3fr 3fr;
        grid-template-rows: 50px 260px 50px 260px 50px 260px;
        margin: 20px;

    }

    .grid img {
        width: 400px;
        border: Solid #000000 3px;
    }
}

/*CONTRATO===========================================================================================================*/
.contrato {
    background-color: #000000;
    margin: 20px;
    margin-top: 20px;
    padding: 40px;
    border-radius: 8vh;
}

.contrato div {
    text-align: center;
}

.contrato p {
    font-size: 16px;
}

@media(min-width:600px) {
    .contrato {
        margin: 100px;
    }

    .contrato p {
        font-size: 30px;
    }
}

/*NOSOTROS===============================================================================================*/
.caja_index {

    margin: 12px;
    border-radius: 16px;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}




.index_01 {
    background-color: #b87400;
    box-shadow: 0px 0px 40px #000000;
    border-radius: 2vh;
    padding: 20px;
    margin: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: 0.2s;
}

.index_01 p {
    padding: 10px;
}

.index_01:hover {

    transform: scale(1.01);
}



.index_01 img {
    width: 100px;
    height: auto;
    border-radius: 2vh;
    border: solid #001626 3px;
}


.index_02 {
    display: flex;
    flex-direction: column;
    background-color: #b87400;
    border-radius: 2vh;
    padding: 20px;
    gap: 8px;
    box-shadow: 0px 0px 40px #000000;
    align-items: center;
    text-align: center;
    transition: 0.2s;
    margin: 60px;
    margin-top: 20px;
}


.index_02 img {
    border-radius: 2vh;
    width: 100px;
    height: auto;
    border: solid #001626 3px;

}

.index_02:hover {

    transform: scale(1.01);
}

.index_2 {
    background-color: white;
    box-shadow: 0px 0px 40px #000000;
    margin: 10px;
    border-radius: 2vh;
    text-align: center;

}

.index_2 p {
    padding: 18px;
    font-size: 18px;
    letter-spacing: 1px;

}

@media(min-width:600px) {
    .index_01 {
        flex-direction: row;
        margin: 100px;
        margin-bottom: 50px;
    }

    .index_02 {
        flex-direction: row;
        margin: 100px;
        margin-top: 50px;
    }

    .caja_index p {
        text-align: start;
        font-size: 28px;
    }

    .index_2 p {
        text-align: center;
        color: black;
        font-style: oblique;
    }

    .index_2 {
        margin: 40px;


    }
}

/*CONTACTO=======================================================================================================*/
.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
    margin-bottom: 100px;
}

.igluk {
    background-color: #fff;
    padding: 20px;
    box-shadow: -8px 0px 20px #fff;
    border-radius: 8vh;
    border: #000000 solid 1px;
    transition: 0.4s;

}

.igluk:hover {
    transform: scale(1.2);
    border: solid 10px #000000;
}

.igluk a {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
}

.igluk img {
    width: 200px;
}

.igluk p {
    color: #000000;
    font-size: 40px;
    font-style: normal;

}

.igjoa {
    background-color: #fff;
    padding: 20px;
    box-shadow: 8px 0px 20px #fff;
    border-radius: 8vh;
    border: #000000 solid 1px;
    transition: 0.4s;
}

.igjoa:hover {
    transform: scale(1.2);
    border: solid 10px #000000;
}

.igjoa a {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
}

.igjoa img {
    width: 200px;
}

.igjoa p {
    color: #000000;
    font-size: 40px;
    font-style: normal;
}

.waths {
    background-color: #fff;
    padding: 20px;
    box-shadow: 8px 0px 20px #fff;
    border-radius: 8vh;
    border: #000000 solid 1px;
    transition: 0.4s;
}

.waths:hover {
    transform: scale(1.2);
    border: solid 10px #000000;
}

.waths a {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
}

.waths img {
    width: 200px;
}

.waths p {
    color: #000000;
    font-size: 40px;
    font-style: normal;

}