* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Google Sans Code", monospace;
}

#inicio {
    background: linear-gradient(146deg, #190027, #000000);
    background-repeat: no-repeat;
    height: 800px;
    background-color: #000000;
}

#inicio-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
    height: 600px;
}

#inicio-h1 {
    font-size: 80px;
    color: #fff;
    text-shadow: 0px 0px 60px #7700b7;
    font-family: Arial, Helvetica, sans-serif;
}

#contraseña__buton {
    width: 400px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    border-radius: 4vh;
    background-color: #190027;
    border: solid 1px #fff;

}

@keyframes rgb {
    0% {
        box-shadow: 0px 0px 30px #7700b7;
        text-shadow: 0px 0px 10px #7700b7;
        color: #fff;
    }

    25% {
        box-shadow: 0px 0px 30px #7700b7;
        text-shadow: 0px 0px 10px #7700b7;
        color: #fff;
    }

    50% {
        box-shadow: 0px 0px 30px #000000;
        text-shadow: 0px 0px 10px #000000;
        color: #000000;

    }

    75% {
        box-shadow: 0px 0px 30px #000000;
        text-shadow: 0px 0px 10px #000000;
        color: #000000;
    }

    100% {
        box-shadow: 0px 0px 50px #a600ff;
        text-shadow: 0px 0px 10px #a600ff;
        color: #fff;
    }

    0% {
        box-shadow: 0px 0px 40px #a600ff;
        text-shadow: 0px 0px 40px #a600ff;
        color: #fff;
    }
}

#botoncito {
    width: 200px;
    height: 60px;
    background-color: #7700b7;
    font-size: 30px;
    border-radius: 4vh;
    border: solid 3px #fff;
    animation: rgb infinite steps(2) 1.6s;
    cursor: pointer;
}




body {
    background-color: #000000;
    background: linear-gradient(146deg, #190027, #000000);
}

#body__cont {
    background: none;
    background-color: black;
}

.pepe {
    color: #7700b7;

}

nav {
    display: flex;
    gap: 20px;
}

nav ul {
    display: flex;
    background-color: #fff;
    gap: 100px;
    padding: 14px;
    margin: 20px 0px;
    border-radius: 0px 10px 10px 0px;
    width: 90px;
    height: 80px;
    overflow: hidden;
    transition: 1s;
    transition-delay: 0.1s;
    align-items: center;
}

nav ul:hover {
    width: 620px;
}


nav li {
    display: flex;
    gap: 20px;
    align-items: center;
    transition: .2s;
    padding: 2px 10px;
}

.li__index {
    border: solid 2px #7700b7;
    box-shadow: 0px 0px 10px #000000;
    border-radius: 2vh;
}

.li__cont {
    border: solid 2px #7700b7;
    box-shadow: 0px 0px 10px #000000;
    border-radius: 2vh;
}

nav a {
    display: flex;
    gap: 20px;
    align-items: center;
    transition: .2s;
    padding: 2px 10px;
}

nav a:hover {
    border: solid 2px #7700b7;
    box-shadow: 0px 0px 10px #000000;
    border-radius: 2vh;
}

nav img {
    width: 40px;
}

header {
    display: flex;
    align-items: center;
    gap: 40px;
}

header h1 {
    font-size: 48px;
    color: white;
    text-shadow: 0px 0px 20px #7700b7;
    font-family: Arial, Helvetica, sans-serif;
}

.index__preguntas {
    padding: 80px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 90px);
    grid-template-areas:
        "a a a a a"
        ". . . . ."
        ". . . . ."
        "b b b b b"
    ;
    overflow: hidden;
}

.index__preguntas p {
    font-size: 40px;
    border-radius: 2vh;

    border: solid 4px #fff;
    padding: 10px;
    color: #fff;
    box-shadow: 0px 0px 10px #fff;
    margin: 20px;
    font-weight: 800;

}

.index__titulo {
    grid-area: a;
    display: flex;
    text-align: center;

    align-items: center;
    justify-content: center;
}

@keyframes boton {
    0% {
        box-shadow: 0px 0px 20px #fff;
        transform: scale(1.06);
    }

    25% {
        box-shadow: 0px 0px 30px #7700b7;
        transform: scale(1.0);
    }

    50% {
        box-shadow: 0px 0px 20px #ffffff;
        transform: scale(1.07);
    }

    75% {
        box-shadow: 0px 0px 30px #7700b7;
        transform: scale(1.0);
    }

    100% {
        box-shadow: 0px 0px 20px #fff;
        transform: scale(1.07);
    }
}

@keyframes traslate {
    0% {
        transform: translateX(10px);
    }

    50% {
        transform: translateX(1000px);
    }

    100% {
        transform: translateX(10px);
    }
}

.index__titulo2 {
    grid-area: b;
    display: flex;
    align-items: center;
    justify-content: center;


}

.index__titulo p {
    overflow: hidden;
    animation: traslate 2s;
    transition: 1s;
}

.index__titulo p:hover {
    background-color: #fff;
    color: #7700b7;
    cursor: default;
}

.index__titulo2 p {
    animation: boton infinite 3s;
    font-weight: 800;
}

/* =======================contrato=====================================================*/

.contrato {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
    background-color: #fff;
    padding: 20px;
    border-radius: 2vh;
    box-shadow: 0px 0px 100px #7700b7;
}

.contrato p {
    font-weight: 500;
    font-size: 26px;
    text-align: center;

}

/*paginas---0000000000000000-------------*/

.h1__paginas {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-top: 20px;
    color: #fff;
    text-shadow: 0px 0px 20px #a600ff;
}



.carousel {

    padding: 20px;
    height: 900px;
    margin-bottom: 40px;
}

.carousel a {
    display: flex;
    align-items: center;
}

.carousel img {
    border-radius: 8vh;
    overflow: hidden;
    width: 1310px;
    height: 600px;
    border: solid 2px #fff;
    box-shadow: 0px 0px 30px #a600ff;


}

.carousel {

    --carousel-width: 100vw;
    width: var(--carousel-width);
    aspect-ratio: 1 / 0.5;
    display: flex;
    align-items: center;
    scroll-snap-type: x;

    li {
        width: var(--carousel-width);
        flex-shrink: 0;
        scroll-snap-align: center;
    }

    overflow: hidden;
    anchor-name: --carousel;
    scroll-behavior: smooth;

    &::scroll-button(*) {
        position-anchor: --carousel;
        position: fixed;
        align-self: anchor-center;

        &:disabled {}
    }


    &::scroll-button(left) {
        content: "<";
        height: 100px;
        border-radius: 6vh;
        background-color: #a600ff;
        border: solid 1px #fff;
        left: calc(anchor(left) + 30px);

    }

    &::scroll-button(right) {
        content: ">";
        height: 100px;
        border-radius: 6vh;
        background-color: #a600ff;
        border: solid 1px #fff;
        right: calc(anchor(right) + 60px);
    }
}


@media(max-width:1100px) {
    #inicio-main {
        height: 800px;
    }

    #inicio-h1 {
        font-size: 50px;
    }

    #contraseña__buton {
        width: 300px;
        font-size: 22px;
    }

    #botoncito {
        width: 200px;
        font-size: 20px;
        height: 40px;
    }


    body {
        background: url(media/ChatGPT\ Image\ 15\ nov\ 2025\,\ 10_25_16.png);
        background-color: #0a030e;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 900px;
    }

    header {
        overflow: hidden;
        gap: 10px;
        margin-bottom: 90px;
    }

    nav img {
        width: 30px;
    }

    nav ul {
        gap: 20px;
        padding: 7px;
        width: 70px;
        height: 60px;
    }

    nav ul:hover {
        width: 380px;
    }

    nav li {
        gap: 10px;
    }

    nav a {
        gap: 10px;
    }

    .index__preguntas {
        grid-template-areas:
            "a a a a a"
            ". . . . ."
            ". . . . ."
            ". . . . ."
            ". . b b .";
    }

    .index__preguntas p {
        font-size: 22px;
    }


    .contrato {
        margin: 30px;
    }

    .contrato p {
        font-size: 20px;
    }

    .h1__paginas {
        font-size: 20px;
        margin-top: 80px;
    }

    .carousel {
        margin-top: 100px;
        height: 300px;
        margin-bottom: 10px;

    }

    .carousel img {
        width: 600px;
        height: 200px
    }

    .carousel {
        &::scroll-button(left) {
            left: calc(anchor(left) + 10px)
        }

        &::scroll-button(right) {
            right: calc(anchor(right) + 10px)
        }
    }
}